body{
  background:#b3e7f7;
.top{
  text-align:left;
}
.middle{
  color:#08ace2;
}
.bottom{
  color:#00b0ea;
}
.gamebutton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #0000ff 5%, #0073ff 100%);
	background-color:#0000ff;
	border-radius:7px;
	border:3px solid #3967f0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:3px 37px;
	text-decoration:none;
	text-shadow:0px 3px 0px #283966;
}
.gamebutton:hover {
	background:linear-gradient(to bottom, #0073ff 5%, #0000ff 100%);
	background-color:#0073ff;
}
.gamebutton:active {
	position:relative;
  	top:1px;
}
